<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="lionheart-remake-editor.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         id="processor"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="true"
            class="com.b3dgs.lionheart.editor.ApplicationConfiguration">
      </processor>
   </extension>

</plugin>
