<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Lionheart Remake Editor">
         <property
               name="appName"
               value="Lionheart Remake Editor">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.b3dgs.lionengine.editor/com.b3dgs.lionengine.editor.Manager">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/com.b3dgs.lionengine.editor/Application.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         id="com.b3dgs.lionheart.editor.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="false"
            class="com.b3dgs.lionheart.editor.ApplicationConfiguration">
      </processor>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.geyzer.GeyzerPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.geyzer.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.geyzer.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.hotfireball.HotFireBallPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.hotfireball.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.hotfireball.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.spike.SpikePropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.spike.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.spike.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.spider.SpiderPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.spider.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.spider.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.shooter.ShooterPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.shooter.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.shooter.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.rotating.RotatingPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.rotating.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.rotating.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.laserairship.LaserAirshipPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.laserairship.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.laserairship.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.sheet.SheetPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.sheet.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.sheet.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.dragon1.Dragon1PropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.dragon1.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.dragon1.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.jumper.JumperPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.jumper.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.jumper.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.model.ModelPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.model.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.model.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.animal.AnimalPropertyTester"
            id="com.b3dgs.lionheart.editor.part.properties.animal.tester"
            namespace="com.b3dgs.lionheart.editor.part.properties.animal.tester"
            properties="enable,disable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.geyzer.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.geyzer.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.geyzer.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.geyzer.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.hotfireball.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.hotfireball.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.hotfireball.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.hotfireball.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.spike.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.spike.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.spike.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.spike.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.spider.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.spider.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.spider.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.spider.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.shooter.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.shooter.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.shooter.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.shooter.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.rotating.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.rotating.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.rotating.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.rotating.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.laserairship.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.laserairship.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.laserairship.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.laserairship.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.sheet.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.sheet.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.sheet.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.sheet.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.dragon1.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.dragon1.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.dragon1.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.dragon1.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.jumper.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.jumper.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.jumper.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.jumper.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.model.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.model.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.model.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.model.tester.disable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.animal.enable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.animal.tester.enable">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.part.properties.animal.disable">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionheart.editor.part.properties.animal.tester.disable">
         </test>
      </definition>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldRenderListener">
      <implementation
            class="com.b3dgs.lionheart.editor.world.renderer.CheckpointRenderer">
      </implementation>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.worldMouseClickListener">
      <implementation
            class="com.b3dgs.lionheart.editor.world.updater.CheckpointUpdater">
      </implementation>
   </extension>
</plugin>
