<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Lionheart Remake Editor">
         <property
               name="appName"
               value="Lionheart Remake Editor">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://com.b3dgs.lionengine.editor/com.b3dgs.lionengine.editor.Manager">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/com.b3dgs.lionengine.editor/Application.e4xmi">
         </property>
      </product>
   </extension>
   <extension
         id="com.b3dgs.lionheart.editor.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="false"
            class="com.b3dgs.lionheart.editor.ApplicationConfiguration">
      </processor>
   </extension>
      <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.b3dgs.lionheart.editor.object.properties.enablePatrol">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.object.propertiesTesterPatrol.enablePatrol">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.object.properties.editPatrol">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.object.propertiesTesterPatrol.editPatrol">
         </test>
      </definition>
      <definition
            id="com.b3dgs.lionheart.editor.object.properties.disablePatrol">
         <test
               forcePluginActivation="true"
               property="com.b3dgs.lionengine.editor.object.propertiesTesterPatrol.disablePatrol">
         </test>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.b3dgs.lionheart.editor.object.properties.PropertiesPatrolTester"
            id="com.b3dgs.lionheart.editor.object.propertiesTesterPatrol"
            namespace="com.b3dgs.lionheart.editor.object.propertiesTesterPatrol"
            properties="enablePatrol,editPatrol,disablePatrol"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="com.b3dgs.lionengine.editor.propertiesObject">
      <implementation
            class="com.b3dgs.lionheart.editor.object.properties.PropertiesPatrol"
            priority="10">
      </implementation>
   </extension>
</plugin>
